<div class="container text-center">
  <h2>Find a doc who...</h2>
  <br />
  <form [formGroup]="landingpageForm" (ngSubmit)="onSubmit()">
    <div class="form-inline">
      <div class="md-form">
        Accepts&nbsp;
        <select class="form-control" formControlName="insurance" *ngIf="insurances">
          <option selected>Humana</option>
          <option *ngFor="let insurance of insurances">{{insurance.insuranceName}}</option>
        </select>
        &nbsp;and Practices&nbsp;
        <select class="form-control" formControlName="specialty">
          <option selected>Optometry</option>
          <option *ngFor="let specialty of specialties">{{specialty.specialty}}</option>
        </select>
        &nbsp;&nbsp;
        <span class="d-sm-none"><br /></span>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
  <hr />
  <br />
</div>


<p>theplace</p>

<div>{{this.yourLocation}}</div>
<div>{{this.destinationLocation}}</div>
<div>{{this.finalDistance}}</div>
<div>
  <span style="padding-left: 5%;"><button (click)="getCurrentLocation()">Get My Location</button></span>
  <span style="padding-left: 5%;"><button (click)="getTargetLocation('1600 Amphitheatre Parkway','Mountain View','California')">Get Other Location</button></span>
  <span style="padding-left: 5%;"><button (click)="calculateDistance('1600 Amphitheatre Parkway','Mountain View','California')">Calculate Distance</button></span>
</div>
