<form id="edit-profile" #form="ngForm" (submit)="onSubmit(form)" *ngIf="currentPatient">
    <h2>Edit profile for {{this.currentPatient.patientFirstName}}</h2>
    <label hidden>First Name:
        <input type="text" name="PatientId" [(ngModel)]="currentPatient.patientId">
    </label>
    <label>First Name:
        <input type="text" name="PatientFirstName" [(ngModel)]="currentPatient.patientFirstName">
    </label>

    <label>Last Name:
        <input type="text" name="PatientLastName" [(ngModel)]="currentPatient.patientLastName">
    </label>

    <label>Email:
        <input type="text" name="PatientEmail" [(ngModel)]="currentPatient.patientEmail">
    </label>

    <label>Password:
        <input type="text" name="PatientPassword"[(ngModel)]="currentPatient.patientPassword" required>
        <div *ngIf="f.patientPassword.errors.required">Password is required</div>
    </label>

    <label>Street Address:
        <input type="text" name="PatientAddress1"[(ngModel)]="currentPatient.patientAddress1">
    </label>

    <label>City:
        <input type="text" name="PatientCity"[(ngModel)]="currentPatient.patientCity">
    </label>

    <label>State:
        <input type="text" name="PatientState"[(ngModel)]="currentPatient.patientState">
    </label>

    <label>Zip:
        <input type="number" name="PatientZipcode"[(ngModel)]="currentPatient.patientZipcode">
    </label>
    <label>Phone Number:
        <input type="text" name="PatientPhoneNumber"[(ngModel)]="currentPatient.patientPhoneNumber">
    </label>
    <label>BirthDay:
        <input type="date" name="PatientBirthDay" [ngModel]="currentPatient.patientBirthDay | date:'yyyy-MM-dd'" (ngModelChange)="currentPatient.patientBirthDay = onSubmit(form)" type="date">
    </label>
    <br />
    <label> Insurance Id:
        <input type="text" name="InsuranceId" [(ngModel)]="currentPatient.insuranceId">
    </label>
    <label>Insuarnce Name:
        <input type="text" name="InsuranceName" [(ngModel)]="currentPatient.insuranceName">
    </label>
    <label hidden>IsAdmin
        <input type="text" name="IsAdmin" [(ngModel)]="currentPatient.isAdmin">
    </label>
    <br />
    <br />

    <button type="submit" type="submit" [disabled]="form.invalid">Update Profile</button>
</form>