<ul class="pl-5">
  <li>Here are docs that accept {{SearchService.sharedIns}} and practice {{SearchService.sharedSpec}}</li>
</ul>
<p>Currently just showing providers with an accepted insuranceID of 15</p>

<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto my-5" *ngFor="let prov of finalProviders">
      <mdb-card>
        <mdb-card-body class="text-center">
          <div class="d-inline-block image col-md-3">
            <mdb-card-img [src]="this.imgurl" alt="Card image cap"></mdb-card-img>
          </div>
          <div class="d-inline-block col-md-6 text-xs-right">
            <mdb-card-title class="text-center text-md-left">
              <h2>{{prov.providerFirstName}} {{prov.providerLastName}}</h2>
            </mdb-card-title>
            <mdb-card-text class="text-center text-md-left">
              {{prov.specialty}}
            </mdb-card-text>
            <mdb-card-text class="text-center text-md-left">
              {{prov.facilityAddress1}}
              address
            </mdb-card-text>
          </div>
          <div class="d-inline-block col-md-3 float-md-right text-md-right">
            <mdb-card-text class="text-center text-md-right">
              distance
            </mdb-card-text>
            <div>
              <button mdbBtn color="primary">SELECT</button>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
